CalculatorApi/__pycache__/__init__.cpython-38.pyc
CalculatorApi/__pycache__/settings.cpython-38.pyc
CalculatorApi/__pycache__/urls.cpython-38.pyc
CalculatorApi/__pycache__/wsgi.cpython-38.pyc
CalculatorRestApi/__pycache__/__init__.cpython-38.pyc
CalculatorRestApi/__pycache__/urls.cpython-38.pyc
CalculatorRestApi/__pycache__/views.cpython-38.pyc
CalculatorRestApi/__pycache__/__init__.cpython-38.pyc
CalculatorRestApi/__pycache__/urls.cpython-38.pyc
CalculatorRestApi/__pycache__/views.cpython-38.pyc
